In [1]:
import pandas as pd

In [2]:
gdp = pd.read_csv('UNdata_Export_per_capita_GDP_2023USD.csv')
tb = pd.read_csv('TB_Burden_Country.csv')

In [3]:
gdp_per_cap = pd.read_csv('UNdata_Export_GDP_per_capita_current_international.csv')
gdp_cur_int = pd.read_csv('UNdata_Export_GDP_current_international.csv')

In [4]:
del gdp_per_cap['Value Footnotes']
gdp_per_cap.rename(columns={'Value':'GDP_per_cap','Country or Area':'Country'},inplace=True)

In [5]:
gdp_per_cap.head()

       Country  Year  GDP_per_cap
0  Afghanistan  2021  1673.964059
1  Afghanistan  2020  2078.595086
2  Afghanistan  2019  2168.133765
3  Afghanistan  2018  2110.239384
4  Afghanistan  2017  2096.093111

In [6]:
del gdp_cur_int['Value Footnotes']
gdp_cur_int.rename(columns={'Value':'GDP','Country or Area':'Country'},inplace=True)

In [7]:
gdp_cur_int.head()

       Country  Year           GDP
0  Afghanistan  2021  6.712506e+10
1  Afghanistan  2020  8.100749e+10
2  Afghanistan  2019  8.188933e+10
3  Afghanistan  2018  7.741790e+10
4  Afghanistan  2017  7.471192e+10

In [8]:
gdp_per_cap.drop(gdp_per_cap.loc[(gdp_per_cap['Year']>2013)|(gdp_per_cap['Year']<1990)].index,inplace=True)

In [9]:
gdp.head(10)

  Country or Area  Year                          Item       Value
0     Afghanistan  2021  Gross Domestic Product (GDP)  372.548875
1     Afghanistan  2020  Gross Domestic Product (GDP)  516.866543
2     Afghanistan  2019  Gross Domestic Product (GDP)  500.522664
3     Afghanistan  2018  Gross Domestic Product (GDP)  502.056771
4     Afghanistan  2017  Gross Domestic Product (GDP)  530.149831
5     Afghanistan  2016  Gross Domestic Product (GDP)  520.252064
6     Afghanistan  2015  Gross Domestic Product (GDP)  554.403216
7     Afghanistan  2014  Gross Domestic Product (GDP)  597.584579
8     Afghanistan  2013  Gross Domestic Product (GDP)  622.100518
9     Afghanistan  2012  Gross Domestic Product (GDP)  628.116539

In [10]:
gdp.rename(columns={"Value":"GDP",'Country or Area':'Country'},inplace=True)

In [11]:
del gdp['Item']

In [12]:
gdp['Year'].unique()

array([2021, 2020, 2019, 2018, 2017, 2016, 2015, 2014, 2013, 2012, 2011,
       2010, 2009, 2008, 2007, 2006, 2005, 2004, 2003, 2002, 2001, 2000,
       1999, 1998, 1997, 1996, 1995, 1994, 1993, 1992, 1991, 1990, 1989,
       1988, 1987, 1986, 1985, 1984, 1983, 1982, 1981, 1980, 1979, 1978,
       1977, 1976, 1975, 1974, 1973, 1972, 1971, 1970], dtype=int64)

In [13]:
tb['Year'].unique()

array([1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000,
       2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011,
       2012, 2013], dtype=int64)

In [14]:
gdp.drop(gdp.loc[(gdp['Year']>2013)|(gdp['Year']<1990)].index,inplace=True)

In [15]:
tb.head()

,Country or territory name,ISO 2-character country/territory code,ISO 3-character country/territory code,ISO numeric country/territory code,Region,Year,Estimated total population number,Estimated prevalence of TB (all forms) per 100 000 population,"Estimated prevalence of TB (all forms) per 100 000 population, low bound","Estimated prevalence of TB (all forms) per 100 000 population, high bound",...,Estimated incidence of TB cases who are HIV-positive per 100 000 population,"Estimated incidence of TB cases who are HIV-positive per 100 000 population, low bound","Estimated incidence of TB cases who are HIV-positive per 100 000 population, high bound",Estimated incidence of TB cases who are HIV-positive,"Estimated incidence of TB cases who are HIV-positive, low bound","Estimated incidence of TB cases who are HIV-positive, high bound",Method to derive TBHIV estimates,"Case detection rate (all forms), percent","Case detection rate (all forms), percent, low bound","Case detection rate (all forms), percent, high bound"
0,Afghanistan,AF,AFG,4,EMR,1990,11731193,306.0,156.0,506.0,...,0.11,0.08,0.14,12.0,9.4,16.0,NaN,20.0,15.0,24.0
1,Afghanistan,AF,AFG,4,EMR,1991,12612043,343.0,178.0,562.0,...,0.13,0.11,0.16,17.0,14.0,20.0,NaN,96.0,80.0,110.0
2,Afghanistan,AF,AFG,4,EMR,1992,13811876,371.0,189.0,614.0,...,0.16,0.14,0.18,22.0,19.0,24.0,NaN,NaN,NaN,NaN
3,Afghanistan,AF,AFG,4,EMR,1993,15175325,392.0,194.0,657.0,...,0.19,0.17,0.21,28.0,25.0,31.0,NaN,NaN,NaN,NaN
4,Afghanistan,AF,AFG,4,EMR,1994,16485018,410.0,198.0,697.0,...,0.21,0.18,0.24,35.0,30.0,39.0,NaN,NaN,NaN,NaN

In [16]:
del tb['ISO 2-character country/territory code']

In [17]:
del tb['ISO 3-character country/territory code']

In [18]:
tb.rename(columns={"Country or territory name":"Country"},inplace=True)

In [19]:
Region_Names={'AFR':'Africa',
              'AMR':'N. and S. America',
              'EMR':'Middle East',
              'EUR':'Europe',
              'SEA':'South East Asia',
              'WPR':'Western Pacific'
}

In [20]:
tb['Region'] = tb['Region'].map(Region_Names)

In [21]:
tb['Region'].unique()

array(['Middle East', 'Europe', 'Africa', 'Western Pacific',
       'N. and S. America', 'South East Asia'], dtype=object)

In [22]:
gdp['Country'].loc[~gdp['Country'].isin(tb['Country'])].unique() #MANY of these are due to gdp data beginning in the 1970s
#Thus, all 'Former's will not be used in the Tableau analysis.
#Data from Unitied Republic of Tanzania should be combined with Zanzibar despite its status as semi-autonomous in order to homogenize data across sets,
#but this is a low priority for the first iteration of this project and will be saved for later analysis

array(['China (mainland)', 'China, Macao Special Administrative Region',
       'Czechia', 'Former Czechoslovakia', 'Former Ethiopia',
       'Former Netherlands Antilles', 'Former Sudan', 'Former USSR',
       'Former Yugoslavia', 'Iran, Islamic Republic of',
       'Kingdom of Eswatini', 'Kosovo', 'Liechtenstein',
       'Republic of North Macedonia', 'State of Palestine', 'Türkiye',
       'United Republic of Tanzania: Mainland',
       'United Republic of Tanzania: Zanzibar', 'United States',
       'Yemen: Former Democratic Yemen',
       'Yemen: Former Yemen Arab Republic'], dtype=object)

In [23]:
tb['Country'].loc[~tb['Country'].isin(gdp['Country'])].unique() #We will prefer these of the GDP names for simplicity's sake, 
#except for Macedonia/North Macedonia, Palestine
#The inclusion of Serbia and Montenegro as a single state is... odd, since there were in a union-state from 1992 (the breakup of Yugoslavia) to 2003/6 (it's complicated, check wiki iywtk)
#The use of 'Swaziland' will also be dropped in favor of 'Eswatini'
#State of Palestine will be used in place of West Bank and Gaza Strip

array(['American Samoa', 'Bonaire, Saint Eustatius and Saba', 'China',
       'China, Macao SAR', 'Czech Republic', 'Guam',
       'Iran (Islamic Republic of)', 'Netherlands Antilles', 'Niue',
       'Northern Mariana Islands', 'Serbia & Montenegro', 'Swaziland',
       'The Former Yugoslav Republic of Macedonia', 'Tokelau', 'Turkey',
       'United Republic of Tanzania', 'United States of America',
       'US Virgin Islands', 'Wallis and Futuna Islands',
       'West Bank and Gaza Strip'], dtype=object)

In [24]:
Country_dic = {'China (mainland)':'China',
            'China, Macao Special Administrative Region':'China, Macao SAR',
            'Czechia':'Czech Republic',
            'Iran, Islamic Republic of':'Iran (Islamic Republic of)',
            'The Former Yugoslav Republic of Macedonia':'Republic of North Macedonia',
            'Türkiye':'Turkey',
            'United States':'United States of America',
            'West Bank and Gaza Strip':'State of Palestine',
            'Kingdom of Eswatini':'Eswatini',
            'Swaziland':'Eswatini',
            'United Republic of Tanzania: Mainland':'United Republic of Tanzania',
            'Serbia & Montenegro':'Serbia',
            'TÃ¼rkiye':'Turkey',
            'Croatia':'Croatia',
            'Latvia':'Latvia',
            'Estonia':'Estonia',
            'Lithuania':'Lithuania',
            'Iraq':'Iraq',
            'Israel':'Israel'
          }

In [25]:
gdp_per_cap['Country'].unique()

array(['Afghanistan', 'Africa Eastern and Southern',
       'Africa Western and Central', 'Albania', 'Algeria', 'Angola',
       'Antigua and Barbuda', 'Arab World', 'Argentina', 'Armenia',
       'Aruba', 'Australia', 'Austria', 'Azerbaijan', 'Bahrain',
       'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin',
       'Bermuda', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina',
       'Botswana', 'Brazil', 'Brunei', 'Bulgaria', 'Burkina Faso',
       'Burundi', "CÃ´te d'Ivoire", 'Cabo Verde', 'Cambodia', 'Cameroon',
       'Canada', 'Caribbean small states', 'Cayman Islands',
       'Central African Republic', 'Central Europe and the Baltics',
       'Chad', 'Chile', 'China', 'Colombia', 'Comoros', 'Congo',
       'Costa Rica', 'Croatia', 'CuraÃ§ao', 'Cyprus', 'Czechia',
       'Dem. Rep. Congo', 'Denmark', 'Djibouti', 'Dominica',
       'Dominican Republic', 'Early-demographic dividend',
       'East Asia & Pacific',
       'East Asia & Pacific (excluding high income)',
       'East Asia & Pacific (IDA & IBRD)', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Eswatini', 'Ethiopia', 'Euro area', 'Europe & Central Asia',
       'Europe & Central Asia (excluding high income)',
       'Europe & Central Asia (IDA & IBRD)', 'European Union', 'Fiji',
       'Finland', 'Fragile and conflict affected situations', 'France',
       'Gabon', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada',
       'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti',
       'Heavily indebted poor countries (HIPC)', 'High income',
       'Honduras', 'Hong Kong SAR, China', 'Hungary', 'IBRD only',
       'Iceland', 'IDA & IBRD total', 'IDA blend', 'IDA only',
       'IDA total', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland',
       'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan',
       'Kenya', 'Kiribati', 'Korea', 'Kosovo', 'Kuwait',
       'Kyrgyz Republic', 'Lao PDR', 'Late-demographic dividend',
       'Latin America & Caribbean',
       'Latin America & Caribbean (excluding high income)',
       'Latin America & Caribbean (IDA & IBRD)', 'Latvia',
       'Least developed countries: UN classification', 'Lebanon',
       'Lesotho', 'Liberia', 'Libya', 'Lithuania', 'Low & middle income',
       'Low income', 'Lower middle income', 'Luxembourg',
       'Macao SAR, China', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives',
       'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius',
       'Mexico', 'Micronesia', 'Middle East & North Africa',
       'Middle East & North Africa (excluding high income)',
       'Middle East & North Africa (IDA & IBRD)', 'Middle income',
       'Moldova', 'Mongolia', 'Montenegro', 'Morocco', 'Mozambique',
       'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Netherlands',
       'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'North America',
       'North Macedonia', 'Norway', 'OECD members', 'Oman',
       'Other small states', 'Pacific island small states', 'Pakistan',
       'Palau', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru',
       'Philippines', 'Poland', 'Portugal', 'Post-demographic dividend',
       'Pre-demographic dividend', 'Puerto Rico', 'Qatar', 'Romania',
       'Russia', 'Rwanda', 'SÃ£o TomÃ© and Principe', 'Samoa',
       'San Marino', 'Saudi Arabia', 'Senegal', 'Serbia', 'Seychelles',
       'Sierra Leone', 'Singapore', 'Sint Maarten (Dutch part)',
       'Slovak Republic', 'Slovenia', 'Small states', 'Solomon Islands',
       'Somalia', 'South Africa', 'South Asia', 'South Asia (IDA & IBRD)',
       'South Sudan', 'Spain', 'Sri Lanka', 'St. Kitts and Nevis',
       'St. Lucia', 'St. Vincent and the Grenadines',
       'Sub-Saharan Africa', 'Sub-Saharan Africa (excluding high income)',
       'Sub-Saharan Africa (IDA & IBRD)', 'Sudan', 'Suriname', 'Sweden',
       'Switzerland', 'TÃ¼rkiye', 'Tajikistan', 'Tanzania', 'Thailand',
       'The Bahamas', 'The Gambia', 'Timor-Leste', 'Togo', 'Tonga',
       'Trinidad and Tobago', 'Tunisia', 'Turkmenistan',
       'Turks and Caicos Islands', 'Tuvalu', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Kingdom', 'United States',
       'Upper middle income', 'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela', 'Viet Nam', 'West Bank and Gaza', 'World', 'Yemen',
       'Zambia', 'Zimbabwe'], dtype=object)

In [26]:
len(gdp['Country'].unique())

220

In [27]:
len(tb['Country'].unique())

219

In [28]:
tb['Country'] = tb['Country'].replace(Country_dic)

In [29]:
gdp_cur_int['Country'] = gdp_cur_int['Country'].replace(Country_dic)
gdp['Country'] = gdp['Country'].replace(Country_dic)

In [30]:
gdp_per_cap['Country'] = gdp_per_cap['Country'].replace(Country_dic)

In [31]:
tb.to_csv('tb_cleaned.csv')

In [32]:
gdp.to_csv('gdp_cleaned.csv')

In [33]:
gdp_per_cap.to_csv('gdp_per_cap_clean.csv')

In [34]:
gdp_cur_int.to_csv('gdp_cur_int_clean.csv')

In [35]:
# Tanz_gdp = pd.DataFrame(gdp['GDP'].loc[gdp['Country or Area']=='United Republic of Tanzania: Mainland'])
# Tanz_gdp.reset_index(inplace=True)
# # Tanz_gdp

In [36]:
# del Tanz_gdp['index']

In [37]:
# Zanz_gdp = pd.DataFrame(gdp['GDP'].loc[gdp['Country or Area']=='United Republic of Tanzania: Zanzibar'])
# Zanz_gdp.reset_index(inplace=True)
# Zanz_gdp

In [38]:
# del Zanz_gdp['index']

In [39]:
# Zanz_gdp

In [40]:
# gdp.replace(gdp.loc[gdp['Country or Area']=='United Republic of Tanzania: Mainland'],t,inplace=True)

In [41]:
# gdp.loc[gdp['Country or Area']=='United Republic of Tanzania: Mainland']

In [42]:
# t

In [43]:
# gdp['Value'].loc[gdp['Country or Area']=='United Republic of Tanzania: Mainland']=0

In [44]:
# gdp['Country or Area'] = gdp['Country or Area'].map(Country_dic)

In [45]:
# tb['Country or territory name'] = tb['Country or territory name'].map(Country_dic)

In [46]:
# gdp['GDP'].loc[9959:9982]

In [47]:
# gdp.sort_values('GDP')

In [48]:
# gdp_per_cap.head()